@import "tailwindcss";
@import "./base.css";

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-hover: var(--hover);
  --color-fade: var(--fade);
  --font-beatrice: "Beatrice Deck Trial", sans-serif;
}

body {
  @apply text-black tracking-wider font-beatrice;
  background: url("@/assets/media/bg.webp") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
